/* 改变 元素的默认行为*/
li {
    list-style-type: lower-greek;
}

/* 使用类名 */
.special {
    color: orange;
    font-weight: bold;
}

/* 根据元素在文档中的位置确定 */
li em {
    color: rebeccapurple;
}

h1 + p {
    font-size: 200%;
}

/* 根据状态确定样式 */
a:link {
    color: pink;
}
a:visited {
    color: green;
}
a:hover {
    text-decoration: none;
}